
.chatbox{
    height: 70%;
    max-width: 250px;
    margin: 0px 15px;
    background-color: rgba(255, 255, 255, 0.8);;
}

.chats{
    height: 90%;
    overflow-y: scroll;
}

.chat-top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.chat-tile{
    height: 10vh;
    margin: 10px 0px;
    padding: 5px 0px;
    background-color: #c2c2c2;
}

.chat-correct-tile{
    margin: 10px 0px;
    padding: 5px 0px;
    background-color: #c2c2c2;
    border-radius: 5px;
}

.chat-header{
    margin: 5px 5px;
    font-size: 16px;
    font-family: Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 0.75px;
}
.chat-correct-subheader{
    margin: 5px 5px;
    font-size: 12px;
    font-family: Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 0.75px;
    color: rgb(0, 119, 0);
    font-weight: 800;
}

.chat-subheader{
    margin: 5px 5px;
    font-size: 12px;
    font-family: Calibri, 'Trebuchet MS', sans-serif;
    color: #444;
}

.formbox-chat{
    background-color: white;
    border-top: 2px solid #5e5e5e;
    border-bottom: 2px solid #5e5e5e;
    padding: 2.5px 2.5px 2.5px 2.5px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.chat-input{
    height: 30px;
    border: none;
    outline: none;
    background-color: transparent;
}

.send-button{
    cursor: pointer;
    font-size: 20px;
    margin: 5px;
    color: teal;
}