::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }


body{
    background: url('https://wallpapercave.com/wp/wp2654268.jpg');
    background-size: cover;
    background-position: center;
}

.app-body{
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.circular-bar{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: darkviolet;
}